li {
  list-style: none;
}


body {
  overflow-x: hidden;
}


#girl {
  max-width: none !important;
}

.carousel-home {
  padding: 0 6rem;
}

.home-button {
  padding: 0.8rem 4rem !important;
  font-size: medium !important;
  font-weight: 600 !important;
}

.home-service-button {
  padding: 0.8rem 4rem;
  color: white;
  font-size: small;
}

.z-ind {
  z-index: 10;
}

.blog-detail-main-column {
  padding: 90px 0px 30px 0px;
}

.blog-detail-main-column .card {
  border: none;
}

.blog-detail-main-column .card .card-header {
  background: #ff7707;
  border: none;
  border-radius: 0px;
  margin: 0px 15px;
  font-weight: 600;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.card .card-img-top {
  max-height: 300px;
  min-height: 300px;
}

.home-faq .accordion-button {
  line-height: 24px;
}

.home-faq .accordion-body p {
  font-size: 15px;
}

@media screen and (max-width: 600px) {
  .sec-title .sub-title {
    font-size: 12px !important;
  }

  .home-service {
    font-size: 2rem !important;
  }

  .home-service-img2 {
    z-index: 1;
  }

  .home-service-col div {
    z-index: 10;
    position: relative;
  }




}



.home-service-border {
  border: 3px solid #ff7707;
}


@media screen and (min-width: 300px) {
  .home-service-section {
    margin: 0 auto !important;
  }

  .home-service-col {
    margin-bottom: 0rem !important;
  }

  .home-work-col {
    padding-left: 0 !important;
  }

  .home-work-img1 {
    display: none;
  }

  .home-work-pad {
    padding: 0 2rem;
  }

  .home-work {
    font-size: 2.5rem !important;
  }

  .home-work-button2 {
    padding: 0.6rem 2rem !important;
    font-size: medium !important;
    color: black !important;
  }

  .home-card-img div p {
    width: 84% !important;
  }

  .home-work-button1 {
    padding: 0.6rem 2rem !important;
    font-size: small !important;
    color: white !important;
  }

  .home-form {
    padding: 2rem 0 !important;
  }

  .signup-form-two {
    margin: 0 1rem !important;
  }

  .title-outer {
    padding: 0 !important;
  }

  .work-section-head {
    font-size: 2rem !important;
  }

  .work-section {
    padding: 0 1.5rem !important;
  }

  .why-us-img2 {
    width: 10rem !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
  }

  .why-us-img1 {
    position: absolute !important;
    top: 2.5rem !important;
    width: 10rem !important;
    right: -4.5rem !important;
    animation: anim1 linear 4s infinite;
  }

  .why-us-card-org {
    background-color: #ff7707 !important;
    margin-bottom: 25px;
  }

  .why-us-card-blk {
    background-color: black !important;
    margin-bottom: 25px;
  }

  .image-column div {
    padding: 0 !important;
    margin-left: -30px !important;
  }

  .home-faq-head {
    font-size: 2.5rem !important;
  }

  .section-paddding {
    padding: 0 !important;
  }

  .home-faq-img1 {
    position: absolute !important;
    top: 1rem !important;
    right: -2rem;
    width: 5rem !important;
  }

  .home-faq-img2 {
    position: absolute !important;
    top: 16rem !important;
    left: 0 !important;
    width: 20rem !important;
  }

  .orange-section {
    top: 6rem !important;
    font-size: 1rem !important;
    line-height: 1.5;
  }

  .orange-section-bg {
    background-image: url(./images/trial29.png) !important;
    padding: 6rem 0 !important;
  }


}

@media screen and (min-width: 900px) {

  .home-service-section {
    padding: 1rem 0rem 0rem 0rem !important;
    z-index: 0;
  }

  .home-work-img1 {
    display: block !important;
  }

  .home-work-col {}

  .home-work-pad {
    padding-left: 4.5rem;
  }

  .home-work {
    font-size: 3rem !important;
  }

  .home-work-button2 {
    padding: 0.8rem 3rem !important;
    font-size: medium !important;
    color: black !important;
  }

  .home-work-button1 {
    padding: 0.8rem 3rem !important;
    font-size: medium !important;
    color: white !important;
  }

  .carousel-icon {
    width: 80% !important;
  }

  .home-form {
    padding: 3rem 6rem !important;
  }

  .work-section-head {
    font-size: 3rem !important;
  }

  .work-section {
    padding: 0 6rem !important;
  }

  .why-us-img2 {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: unset !important;
  }

  .why-us-img1 {
    position: absolute !important;
    top: 2.5rem !important;
    right: -3.5rem !important;
    width: unset !important;
    animation: anim1 linear 4s infinite;
  }

  .why-us-card-org {
    background-color: #ff7707 !important;
    margin-bottom: 25px;
  }

  .why-us-card-blk {
    background-color: black !important;
    margin-bottom: 25px;
  }

  .home-faq-head {
    font-size: 3.5rem !important;
  }

  .home-faq-img1 {
    position: absolute !important;
    top: 3rem !important;
    right: 0 !important;
    width: unset !important;
  }

  .home-faq-img2 {
    position: absolute !important;
    bottom: 2rem !important;
    left: 0 !important;
    width: unset !important;
  }

  .orange-section {
    top: 6rem !important;
    font-size: 1.5rem !important;
  }

  .orange-section-bg {
    background-image: url(./images/trial29.png) !important;
    padding: 4rem 3rem !important;
  }


}


.home-service-img1 {
  position: absolute !important;
  top: 0 !important;
  right: -2.5rem !important;
  width: 10rem !important;
}



.home-service-img2 {
  position: absolute !important;
  top: 6.5rem !important;
  left: -6.5rem !important;
  width: 14rem !important;
  z-index: 10;
  animation: anim1 linear 3s infinite;
}

.home-service-img3 {
  position: absolute !important;
  bottom: -7rem !important;
  right: 1rem !important;
  width: 10rem !important;
  animation: anim1 linear 3s infinite;
}

.home-work-txt {
  width: 90%;
  font-weight: 450;
}



.home-card-img {
  background-image: url('./images/trial9_new.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.home-card-txt {
  padding-top: 5rem !important;
}

.home-work-card-txt {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
}



.home-pattern {
  background-image: url(./images/patter_home.png);
  background-size: cover;
}

@keyframes anim1 {

  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(28px);
    transform: translateX(28px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}


.home-form-img1 {
  position: absolute !important;
  top: 9rem !important;
  left: -6rem !important;
  animation: anim1 linear 3s infinite;
}

.home-form-img2 {
  position: absolute !important;
  bottom: 0 !important;
  right: -7rem !important;
}

.home-card-icon {
  position: absolute;
  top: 0;
  right: 1rem;
  width: 3rem;
  height: 4rem;
  color: #ff7707;
}

.home-text {
  height: 120px !important;
}


.home-form-carousel {
  bottom: -5rem !important;
  left: -44rem !important;
}

.home-form-carousel-button {
  background-color: #ff7707 !important;
  border-radius: 100% !important;
  width: 0.4rem !important;
  height: 0.4rem !important;
  margin-right: 0.4rem !important;
}


.work-section-txt {
  color: gray !important;
  font-weight: 500;
  text-align: justify;
}


.home-faq {
  border: 1px solid #d3d3d3 !important;
  margin: 1rem 0;
}



.carousel-img {
  height: 4rem !important;
  width: 6rem !important;
  border-radius: 100% !important;
}

.banner-bg {
  background-image: url('https://kodesolution.com/html/2022/edulerns-html/images/main-slider/1.jpg') !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
  width: 100% !important;
  height: 100% !important;
  opacity: 1 !important;
  visibility: inherit !important;
  z-index: 20 !important;
}

.banner-img1 {
  position: absolute !important;
  top: -1rem !important;
  left: 7rem !important;
}

.banner-img2 {
  left: 30% !important;
}

.banner-carousel-button-left {
  background-color: #ff7707 !important;
  width: 4rem !important;
  height: 4rem !important;
  top: 20rem !important;
  left: 1rem !important;
}

.banner-carousel-button-right {
  background-color: #ff7707 !important;
  width: 4rem !important;
  height: 4rem !important;
  top: 20rem !important;
  right: 1rem !important;
}

.banner-head-txt {
  color: black !important;
}

.banner-head-spn {
  color: #ff7707 !important;
}

.home-work-img1 {
  position: absolute !important;
  top: -2rem !important;
  right: 0 !important;
  width: 42rem !important;
}


.orange-icons {
  margin-top: 4rem !important;
}

.privacy-text {
  font-size: 14px !important;
  line-height: 1.5 !important;
}

.privacy-points {
  font-weight: 700 !important;
  color: #6a6868;
}

.terms-points {
  font-weight: 500 !important;
}

.accounting-img1 {
  position: absolute !important;
  top: 1rem !important;
  right: -4rem !important;
}

.accounting-img2 {
  position: absolute !important;
  top: 0 !important;
  right: -2.2rem !important;
}

.accounting-img3 {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
}

.acc-title {
  padding: 130px 0 !important;
}

.acc-head {
  margin: 0 !important;
  color: black !important;
  font-size: larger !important;
  font-weight: 600 !important;
}

.acc-body {
  margin: 0.5rem 0 !important;
  font-weight: 500 !important;
  font-size: large !important;
  line-height: 1.5 !important;
  color: black !important;
}

.acc-clients {
  padding: 0 5rem !important;
}

.acc-shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}

.economics {
  background-image: url('./images/acc-pic-4.jpg');
  background-size: cover;
  position: relative;
  isolation: isolate;
}

.economics::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: black;
  z-index: -1;
  opacity: 0.5;
  border-radius: 0.3rem !important;
}

.maths {
  background-image: url('./images/acc-maths.jpg');
  background-size: cover;
  position: relative;
  isolation: isolate;
}

.maths::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: black;
  z-index: -1;
  opacity: 0.5;
  border-radius: 0.3rem !important;
}

.english {
  background-image: url('./images/acc-english.jpg');
  background-size: cover;
  position: relative;
  isolation: isolate;
}

.english::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: black;
  z-index: -1;
  opacity: 0.5;
  border-radius: 0.3rem !important;
}

.history {
  background-image: url('./images/acc-history.jpg');
  background-size: cover;
  position: relative;
  isolation: isolate;
}

.history::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: black;
  z-index: -1;
  opacity: 0.5;
  border-radius: 0.3rem !important;
}

.biology {
  background-image: url('./images/acc-biology.jpg');
  background-size: cover;
  position: relative;
  isolation: isolate;
}

.biology::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: black;
  z-index: -1;
  opacity: 0.5;
  border-radius: 0.3rem !important;
}

.physics {
  background-image: url('./images/acc-physics.jpg');
  background-size: cover;
  position: relative;
  isolation: isolate;
}

.physics::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: black;
  z-index: -1;
  opacity: 0.5;
  border-radius: 0.3rem !important;
}

.dbms {
  background-image: url('./images/acc-dbms.jpg');
  background-size: cover;
  position: relative;
  isolation: isolate;
}

.dbms::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: black;
  z-index: -1;
  opacity: 0.5;
  border-radius: 0.3rem !important;
}

.accounts {
  background-image: url('./images/acc-accounts.jpg');
  background-size: cover;
  position: relative;
  isolation: isolate;
}

.accounts::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: black;
  z-index: -1;
  opacity: 0.5;
  border-radius: 0.3rem !important;
}

.acc-banner {
  background-image: url(./images/contact-bnnr.png);
}

.acc-pad {
  padding: 0 5rem !important;
}

.acc-img4 {
  position: absolute !important;
  top: 6rem !important;
  right: -3rem !important;
  width: 8rem !important;
}

.acc-img-div {
  width: 38% !important;
  margin-bottom: 4rem !important;
}

.acc-img5 {
  position: absolute;
  bottom: -3.5rem;
  right: -5.5rem;
  z-index: 20;
  width: 45%;
}

.acc-img6 {
  position: absolute;
  bottom: -2rem;
  left: -3.5rem;
  z-index: 0;
}

.acc-sec1-txt {
  margin-bottom: 1rem !important;
  font-size: large !important;
  line-height: 1.5 !important;
  color: black !important;
  font-weight: 500 !important;
}

.acc-img7 {
  position: absolute;
  top: 0;
  right: -4rem;
}

.acc-sec2-pad {
  padding: 0 5.5rem !important;
}

.acc-sec2-img {
  width: 90% !important;
}

.acc-sec2-div {
  width: 4rem !important;
  height: 4rem !important;
  background-color: white !important;
  border-radius: 50% !important;
  position: absolute !important;
  bottom: -1rem !important;
  left: 40% !important;
}

.acc-sec4-text {
  margin-left: 6rem;
  font-weight: 500;
}

.acc-sec4-img {
  width: 36rem;
  position: absolute;
  z-index: 10;
}

.acc-sec4-div {
  width: 35.5rem;
  background-color: #ff7707;
  height: 28.5rem;
  position: absolute;
  z-index: 0;
  bottom: -2.7rem;
  left: 2rem;
}

.acc-sec5-pad {
  padding: 1.5rem 5rem !important;
}

.acc-color {
  color: #ff7707 !important;
}

.why-block .testimonial {
  position: relative;
  padding: 30px;
  margin: 35px 15px;
}

.acc-more-pad {
  padding: 2rem 0 !important;
}

.acc-other-pad {
  padding: 1rem 8rem !important;
}

.acc-img8 {
  width: 10rem !important;
  position: absolute;
  right: -4rem;
  top: -8rem;
}

.acc-img9 {
  position: absolute;
  left: 3.5rem;
  bottom: 1rem;
  width: 11rem !important;
}

.acc-other-div {
  width: 18rem !important;
  background-color: #ff7707 !important;
  margin-right: 2rem !important;
}

.acc-other-border {
  border-bottom: 4px solid white !important;
}

.acc-other-button {
  color: #ff7707;
  font-size: small !important;
}

.acc-card-txt {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
}

.acc-img10 {
  height: 7rem !important;
}

.acc-other-div2 {
  width: 18rem !important;
  background-color: #ebebeb !important;
  margin-right: 2rem !important;
}

.acc-other-border2 {
  border-bottom: 4px solid black !important;
}

.acc-sec6-bg {
  background-image: url(images/pattern-9.png) !important;
}

.disc-img1 {
  position: absolute !important;
  top: 2rem !important;
  right: -3.5rem !important;
}

.disc-marg {
  margin-top: 2rem !important;
}

.disc-font {
  font-weight: 500 !important;
}

.disc-sec3 {
  width: 53% !important;
  padding-right: 6rem !important;
  padding-top: 1.5rem !important;
}

.disc-img2 {
  position: absolute !important;
  top: 1rem !important;
  right: -4rem !important;
}

.disc-sec4 {
  padding: 0 5rem 0 6rem !important;
}

.disc-butt {
  padding: 0.1rem 2rem !important;
}

.blog-bg {
  background-image: url(images/contact-bnnr.png) !important;
  padding: 0 70px !important;
  min-height: auto !important;
}

.blog-pad1 {
  padding: 6rem 0 0 5rem !important;
}

.blog-pad2 {
  padding: 6rem 0 5rem 0 !important;
}

.blog-pad3 {
  padding: 2rem 0 !important;
}

.blog-sec2-wid {
  width: 45% !important;
  padding: 0 !important;
}

.blog-sec2-txt {
  color: grey !important;
  font-size: smaller !important;
  padding-top: 1rem !important;
}

.why-block .testimonial:before {
  position: absolute;
  content: '';
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -ms-transform: skewY(4deg);
  transform: skewY(-2deg);
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.why-block .testimonial:hover::before {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
}

.why-block .testimonial .border-layer {
  position: absolute;
  left: -15px;
  top: 30px;
  z-index: -1;
  width: 100%;
  bottom: -15px;
  border: 4px solid #ff7707;
  -ms-transform: skewX(3deg);
  transform: skewX(3deg);
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.why-block:nth-child(2) .testimonial .border-layer {
  border: 4px solid #d3d3d3;
}

.why-block:nth-child(4) .testimonial:before {
  background-image: linear-gradient(18deg, #d3d3d3, #d3d3d3);
}

.why-block:nth-child(4) .testimonial .border-layer {
  border: 4px solid #d3d3d3;
}

.why-block:nth-child(6) .testimonial:before {
  background-image: linear-gradient(18deg, #d3d3d3, #d3d3d3);
}

.why-block:nth-child(6) .testimonial .border-layer {
  border: 4px solid #d3d3d3;
}

.testimonial-block-two .testimonial .border-layer {
  position: absolute;
  left: 0px;
  bottom: -25px;
  right: 0px;
  height: 150px;
  z-index: -1;
  border-radius: 8px;
  border: 3px solid #06092c;
  -ms-transform: skewY(-2deg);
  transform: skewY(-2deg);
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}


@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 10));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 10));
  }
}

.slider {
  height: auto;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 150px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  -webkit-animation: scroll 30s linear infinite;
  animation: scroll 30s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide-track1 {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide {
  height: auto;
  width: 100%;
}


/* Latest Styles  */

.list-items {
  font-size: 15px;
}

.sol-pad {
  padding: 0 10.5rem;
}

.blur {
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.item-bord {
  border: 2px solid gainsboro;
  border-radius: 1rem;
  padding: 2rem;
  margin: 0 4rem 0 0;
}



/* Responsive CSS */

.pt-4 {
  padding-top: 2.5rem !important;
}

.sec-title {
  margin-block: 50px;
}

.home-service-section {
  margin: 0 auto !important;
}

.home-card-img-new {
  background-image: url(./images/payandsssessment.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.pay-to-take-online-assingment {
  padding-left: 85px !important;
}

.header-style-two .header-upper {
  position: relative;
  background-color: #dfdfdf;
}

.auto-container {
  padding-inline: 4.5rem;
}

.header-style-two .header-upper .inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contact-info-outer {
  width: 100%;
  justify-content: space-between;
  padding-block: 8px;
}

.mobile-nav-toggler {
  position: relative;
  font-size: 24px;
  line-height: 20px;
  cursor: pointer;
  color: var(--theme-color1);
  display: none;
  top: 0px;
  margin-left: 25px;
  -webkit-box-ordinal-group: 9;
  -ms-flex-order: 8;
  order: 8;
}

.header-style-two .contact-info-outer li {
  position: relative;
  /* padding-left: 25px; */
  /* margin-left: 25px; */
}

.info-list-header {
  display: flex;
  gap: 10px;
}

.contact-info-box {
  position: relative;
  padding-left: 25px;
}

.contact-info-box .icon {
  position: absolute;
  left: 0;
  top: 0;
  /* font-size: 34px; */
  /* line-height: 50px; */
  color: var(--theme-color1);
}

.contact-info-box .text {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: var(--theme-color3);
  font-weight: 700;
}

.text {
  position: relative;
  color: #ff7707;
}

.sol-lib-btn {
  color: black;
  font-size: 15px;
  font-weight: 500;
}

.login-btn {
  background-color: #ff7707;
  color: black;
  margin-inline: 5px;
}

.sign-up-btn {
  background-color: black;
  color: white;
}

.header-style-two .header-lower {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background-color: white !important;
}

.auto-container {
  position: static;
  /* max-width: var(--container-width); */
  padding-inline: 4.5rem;
  margin: 0 auto;
  width: 100%;
}

.header-style-two .header-lower .main-menu .navigation>li>a {
  color: black;
  font-weight: 400;
}

.main-box {
  justify-content: space-between;
  position: relative;
  left: 0px;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.main-header .header-lower .logo-box {
  position: relative;
  padding: 24px 0;
  /* min-width: 280px; */
}

.main-header .main-box .nav-outer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: auto;
}

.get-quote-sec {
  width: 15%;
  text-align: end;
  /* background-color: black; */
  /* color: white; */
}

.btn-style-one.bg-theme-color4 {
  background: var(--bg-theme-color4);
}

.get-quote-sec a {
  width: 100%;
}

.home-button-header {
  padding: 0.8rem 2rem !important;
  font-size: medium !important;
  font-weight: 600 !important;
}

.btn-style-one {
  position: relative;
  font-size: 12px;
  line-height: 24px;
  padding: 15px 60px;
  font-weight: 700;
  letter-spacing: 0.1em;
  overflow: hidden;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 50px;
  z-index: 1;
  background: var(--bg-theme-color1);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.bg-dark {
  background-color: #212529 !important;
}

.btn-style-one:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background-color: var(--bg-theme-color2);
  -webkit-clip-path: polygon(50% 0, 50% 0, 50% 50%, 50% 100%, 50% 100%, 50% 50%);
  clip-path: polygon(50% 0, 50% 0, 50% 50%, 50% 100%, 50% 100%, 50% 50%);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  z-index: -1;
}

.btn-style-one.bg-theme-color4:before {
  background: var(--bg-theme-color1);
}

.mobile-menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  max-width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 999999;
}

div#myTopnav {
  display: none;
}

.sticky-header {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  left: 0px;
  top: 0px;
  width: 100%;
  padding: 0px 0px;
  z-index: 99999;
  background: #ffffff;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.header-style-two .header-lower .main-menu .navigation>li:hover>a,
.header-style-two .header-lower .main-menu .navigation>li.current>a {
  color: #ff7707;
}

.cstm-align-cntr {
  align-items: center;
}

.accordion-box .block .acc-btn.active {
  color: white !important;
  background: #ff7707 !important;
}

.accordion-box .block .acc-btn.active .icon:before {
  content: "\f107" !important;
  color: white !important;
}

.testimonial-section-two .owl-dots.diabled {
  display: block !important;
}

.align-center-cstm {
  align-items: center;
}

.login-btn {}

.mobile-cstm-padding-toc-sec-two .col-6.cstm-left {
  width: 35% !important;
}

@media only screen and (min-width: 767.5px) and (max-width: 1024px) {
  .testimonial-section-two .auto-container{
    padding: 0px 20px;
  }
  .testimonial-block-two .inner-box .quote-icon{
    width: 35px;
    height: 35px;
    right: 20px;
    bottom: 15px;
    line-height: 35px;
    font-size: 22px;
  }
  .why-us-card-blk{
    margin-bottom: 10px !important;
    padding: 30px 20px !important;
  }
  .why-us-card-org{
    margin-bottom: 10px !important;
    padding: 30px 20px !important;
  }
  .why-us-card-blk img{
    width: 100%;
    object-fit: cover;
  }
  .why-us-card-org img{
    width: 100%;
    object-fit: cover;
  }
  .contact-info-outer{
    justify-content: center;
  }
  .testimonial-block-two .sec-title{
    margin-bottom: 10px;
  }
  #oneStickyHeader .auto-container{
    padding: 0px 20px;
  }
  .main-header .header-lower .logo-box{
    min-width: 200px;
  }
  .main-header .header-lower .logo-box .logo{
    width: 90%;
  }
  .main-menu .navigation>li{
    margin-right: 25px;
  }
  .header-style-two .header-lower .main-menu .navigation>li{
    padding: 8px 0px;
  }
  .home-button-header{
    font-size: 12px !important;
  }
  .header-upper .auto-container{
    padding: 0px 20px;
  }
  .contact-info-outer li{
    display: none;
  }
  .contact-info-outer li:nth-child(3){
    display: block;
  }
  .contact-info-outer li:nth-child(3) li{
    display: block;
  }
  .page-title-services {
    padding: 150px 0 0px;
    min-height: 196px;
  }
  .signup-form-two {
      margin: 0 0rem !important;
  }
  .signup-form-two form{
    padding: 30px 15px;
    margin: 0 !important;
  }
  .page-title-services .auto-container{
    padding: 0px 20px;
  }
  .service-service-sec{
    margin-block: 0px;
  }
  .sec-why-us-inner{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    --bs-gutter-x: 0.5rem;
  }
  .tab-padding-cstm{
    padding: 0px 20px !important;

  }
  .mobile-container-faq{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    width: 100%;
    max-width: 100%;
    padding: 0px 20px;
  }
  .mobile-container-faq .sec-title{
    margin-bottom: 15px !important;
  }
  /* assignment page */
  .page-title-sec-one-assignment{
    padding: 150px 0 50px;
  }
  .page-title-sec-one-assignment .auto-container{
    padding: 0px 20px;
  }
  .page-title-sec-one-assignment .auto-container .row{
    align-items: center;
  }
  .page-title-sec-one-assignment .auto-container .row .title{
    font-size: 45px;
  }
  .page-assignment-sec-two .auto-container{
    padding: 0px 20px;
  }
  .page-assignment-sec-two .auto-container .sec-title{
    margin-bottom: 0px;
  }
  .page-assignment-sec-two .text{
    font-size: 16px;
    line-height: 24px;
  }
  .img-sec-three-cstm-assignment{
    padding: 0px 60px;
  }
  .img-sec-three-cstm-assignment .experience{
    padding: 15px 35px !important;
  }
  .img-sec-three-cstm-assignment .experience .count{
    left: 100px;
    top: 40px;
    font-size: 50px;
  }
  .assignment-sec-two-main-cstm {
    padding-bottom: 15px;
  }
  .assignment-sec-two-main-cstm .auto-container{
    padding: 0px 20px;
  }
  .assignment-sec-two-main-cstm .content-column{
    padding: 0px 20px;
  }
  .assignment-sec-two-main-cstm .content-column .inner-column{
    padding-left: 0px !important;
  }
  .assignment-sec-two-main-cstm .content-column .inner-column .list-style-one{
    margin-bottom: 0px;
  }
  .assignment-sec-two-main-cstm .content-column .inner-column .sec-title{
    margin-bottom: 10px;
  }
  .assignment-sec-three-main-cstm{
    padding-top: 5px;
    padding-bottom: 10px;
  }
  .assignment-sec-three-main-cstm .auto-container{
    padding: 0px 20px;
  }
  .assignment-sec-three-main-cstm .content-column .sec-title{
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .assignment-sec-three-main-cstm .content-column .sec-title .text{
    font-size: 16px;
    line-height: 24px;
    margin-top: 15px;
  }
  .assignment-sec-three-main-cstm .content-column .btn-box{
    margin-top: 15px;
  }
  .categories-section-current .auto-container{
    padding: 0px 20px;
  }
  .assignment-sec-three-main-cstm .auto-container .image-column div{
    margin-left: 20px !important;
  }
  .categories-section-current .category-block-current{
    margin-bottom: 15px;
  }
  .categories-section-current .category-block-current .inner-box .icon-box{
    height: 145px;
    width: 145px;
    padding: 20px 5px;
  }
  .categories-section-current .category-block-current .inner-box p{
    font-size: 16px;
    line-height: 24px;
  }
  .sponsors-outer .clients-carousel{
    padding: 40px 0px;
  }
  .main-footer .widgets-section .auto-container{
    padding: 0px 20px;
  }
  .footer-cstm-tab-one{
    order: 1;
  }
  .footer-cstm-tab-two{
    order: 3;
  }
  .footer-cstm-tab-three{
    order: 4;
  }
  .footer-cstm-tab-four{
    order: 2;
  }
  .footer-widget .text p{
    font-size: 16px;
    line-height: 26px;
  }
  .main-footer .widget-title{
    margin-bottom: 10px;
  }
  .contact-widget .contact-info{
    margin-bottom: 10px;
  }
  .contact-widget .contact-info li{
    margin-bottom: 0px;
  }
  .subscribe-form p{
    font-size: 16px;
    line-height: 26px;
  }
  .subscribe-form .form-group .theme-btn{
    top: 10px;
  }
  .subscribe-form .form-group input[type=text], .subscribe-form .form-group input[type=email]{
    height: 60px;
  }
  .testimonial-block-two .inner-box .text{
    font-size: 16px;
  }
  .footer-bottom{
    border: none;
  }
  .footer-bottom .auto-container{
    padding: 0px 20px;
  }
}



@media only screen and (max-width: 767.5px) {
  .inner-container .contact-info-outer li {
    display: none;
  }

  .inner-container .contact-info-outer li:nth-child(3) {
    display: block;
  }

  .inner-container .contact-info-outer li .sol-lib-btn {
    display: none;
  }

  .inner-container .contact-info-outer li .useful-links li {
    display: block;
  }

  .header-upper .auto-container {
    padding: 0px 10px;
  }

  .contact-info-outer {
    justify-content: space-around;
  }

  .header-lower .auto-container {
    padding: 0px 10px;
  }

  .header-style-two .header-lower .main-box {
    display: block;
  }

  .auto-container {
    padding: 0px 10px;
  }

  .main-header .header-lower .logo-box {
    text-align: center;
  }

  .main-header .main-box .nav-outer {
    display: none;
  }

  .get-quote-sec {
    display: none;
  }

  .page-title-take-my-online-class h1.title {
    margin-top: 80px;
    font-size: 34px;
    text-align: center;
  }

  .page-title-take-my-online-class p.ntext {
    font-size: 14px;
    text-align: justify;
  }

  #contact-form {
    padding: 20px 20px;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .signup-form-two {
    margin: 0rem 0.5rem !important;
  }

  .py-5 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }

  .mobile-cstm-padding-toc-sec-two {
    padding: 0rem 1rem !important;
  }

  .mobile-cstm-padding-toc-sec-two .col-6 {
    width: 100% !important;
    padding-left: 10px !important;
    text-align: justify;
  }

  .mobile-cstm-padding-toc-sec-two .col-6.cstm-left {
    width: 90% !important;
    margin-bottom: 60px;
  }

  .mob-sec-two-toc-img-two {
    bottom: -1.5rem !important;
    right: -0.5rem !important;
    z-index: 20;
    width: 35% !important;
  }

  .sec-title h2.fs-1 {
    font-size: 34px !important;
    padding: 0px 10px;
  }

  .sec-title {
    margin-block: 30px !important;
  }

  .mob-toc-sec-four {
    padding: 0 1rem 1rem 1rem !important;
    margin-left: 0px !important;
  }

  .mob-toc-sec-four .col-3 {
    width: 100% !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin: 5px 0px;
  }

  .clients-carousel {
    padding: 50px 0px !important;
  }

  .mobile-container-faq {
    padding: 20px 0px !important;
  }

  .mobile-container-faq .row {
    margin-left: 0px !important;
  }

  .accordion-box .block .acc-content .content {
    padding: 15px;
    text-align: justify;
  }

  .main-footer {
    padding: 0px 10px;
  }

  .footer-bottom {
    border: none;
  }

  .footer-bottom .copyright-text {
    text-align: center;
  }
  .page-title-services h1.title{
    font-size: 34px;
    text-align: center;

  }
  .page-title-services p.ntext {
    font-size: 14px;
    text-align: justify;
  }
  .acc-title {
      padding: 70px 10px 0 10px !important;
  }
  .service-service-sec{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .py-4.row.sec-why-us-inner{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .sec-why-us-inner .card.col-6{
    width: 100% !important;
    padding-right: 15px !important;
    margin-left: 15px !important;
  }
  .sec-why-us-inner .card-body.p-5.why-us-card-blk {
    padding: 30px 20px !important;
    margin-bottom: 10px !important;
    border-radius: 0px !important;
  }
  .sec-why-us-inner .card-body.p-5.why-us-card-blk img{
    width: 100%;
    object-fit: cover;
  }
  .sec-why-us-inner .card-body.p-5.why-us-card-org {
    padding: 30px 20px !important;
    margin-bottom: 10px !important;
    border-radius: 0px !important;
  }
  .sec-why-us-inner .card-body.p-5.why-us-card-org img{
    width: 100%;
    object-fit: cover; 
  }

  .home-work-card-txt.card-text.text-white.pb-4{
    padding-bottom: 0px !important;
  }
  .mobile-container-faq .row{
    margin-right: 0px !important;
  }
  .mobile-container-faq .accordion-box .block .acc-btn{
    padding-left: 16px;
  }
  .testimonial-section-two{
    padding-top: 0px ;
    display: none;
  }
  .footer-bottom .text-right{
    text-align: center !important;
  }
  .main-footer .widgets-section{
    padding: 30px 0 0px;
  }
  .main-footer .footer-widget.about-widget .logo{
    text-align: center;
  }
  .main-footer .footer-widget.about-widget .text{
    text-align: justify;
    font-size: 14px;
  }

  .main-footer .footer-widget.about-widget .social-icon-two{
    justify-content: center;
  }
  .main-footer .footer-widget.about-widget .btn-box{
    text-align: center;
  }
  .main-footer .footer-widget{
    text-align: center;
  }
  .main-footer .footer-widget .user-links li{
    margin-bottom: 3px;
  }
  .main-footer .footer-widget .widget-title{
    margin-bottom: 10px;
  }
  .main-footer .footer-widget.about-widget .btn-box .btn-style-one{
    padding: 7px 35px;
  }
  .main-footer .footer-column{
    margin-bottom: 30px;
  }
  .subscribe-form .form-group .theme-btn{
    right: 5px;
    top: 5px;
  }
  .subscribe-form .form-group input[type=text], .subscribe-form .form-group input[type=email]{
    height: 50px;
    padding: 10px 30px; 
  }
  /* assignment-help-page */

  .page-title-sec-one-assignment .title{
    font-size: 35px;
    text-align: center;
  }
  .page-title-sec-one-assignment{
    padding: 150px 0 50px;
  }
  .page-title-sec-one-assignment .title-outer{
    padding: 0px 10px !important;
  }
  .page-title-sec-one-assignment .title-outer .ntext{
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
  }
  #contact-form input{
    height: 45px;
  }
  .signup-form-two .form-group button{
    padding: 7px 20px;
    line-height: 26px;
    font-size: 14px;
  }
  .page-assignment-sec-two .sec-title{
    margin-top: 15px !important;
    margin-bottom: 10px !important;
  }
  .page-assignment-sec-two .sec-title h2{
    font-size: 34px;
  }
  .why-block{
    padding: 0px 20px;
  }
  .assignment-sec-two-main-cstm .auto-container{
    padding: 0px 20px;
  }
  .assignment-sec-two-main-cstm .experience{
    bottom: -65px;
    right: 30px;
    padding: 15px 35px !important;
  }
  .assignment-sec-two-main-cstm .experience .count{
    left: 100px;
    top: 40px;
    font-size: 50px;
  }
  .assignment-sec-two-main-cstm .content-column .inner-column{
    padding-left: 0px !important;
  }
  .about-section .icon-paper-plan{
    top: 210px;
  }
  .assignment-sec-two-main-cstm .content-column .text{
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
  }
  .assignment-sec-two-main-cstm .content-column .list-style-one.two-column li{
    font-size: 18px;
    line-height: 26px;
  }
  .assignment-sec-two-main-cstm .list-style-one.two-column{
    margin-bottom: 15px;
  }
  .assignment-sec-two-main-cstm{
    padding-bottom: 0px;
  }
  .assignment-sec-three-main-cstm{
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .assignment-sec-three-main-cstm .image-column .inner-column .image{
    margin-left: 40px;
  }
  .assignment-sec-three-main-cstm .content-column{
    padding: 0px 20px;
  }
  .assignment-sec-three-main-cstm .content-column .sec-title .text{
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;
    text-align: justify;
  }
  .assignment-sec-three-main-cstm .content-column .btn-box{
    margin-top: 10px;
    text-align: center;
    padding-right: 0px;
  }
  /* About US Page */
  .about-cstm-sec-one-main .acc-title{
    padding-top: 0px !important;
  }
  .about-cstm-sec-one-main .title{
    font-size: 40px;
    text-align: center;
  }
  .about-cstm-sec-one-main .ntext{
    font-size: 16px;
    text-align: justify;
    line-height: 24px;
  }
  .about-cstm-sec-two-main .sec-title{
    margin-top: 0px !important;
    margin-bottom: 15px !important;
  }
  .about-cstm-sec-two-main .row{
    padding: 0px 20px !important;
  }
  .about-cstm-sec-two-main .row .col-6{
    width: 100%;
  }
  .about-cstm-sec-two-main .row .col-6 h5{
    font-size: 26px !important;
    line-height: 32px;
    text-align: center;
  }
  .about-cstm-sec-two-main .row .col-6 p{
    padding-top: 0px !important;
    font-size: 16px !important;
    line-height: 24px;
    text-align: justify;
  }
  .about-cstm-sec-three-main .sec-title{
    margin-top: 0px !important;
    margin-bottom: 10px !important;
  }
  .about-cstm-sec-three-main .home-service{
    font-size: 34px !important;
  }
  .about-cstm-sec-three-main .home-service-section{
    padding: 0px 20px;
  }
  .about-cstm-sec-three-main .home-service-section .col-4{
    width: 100%;
    margin: 10px 0px;
  }
  .about-cstm-sec-three-main .btn-box{
    margin-top: 10px !important;
  }
  .about-cstm-sec-three-main .home-service-img2{
    top: 2.5rem !important;
    left: -6.5rem !important;
    width: 10rem !important;
  }
  .about-cstm-sec-four-innerrow{
    padding: 0 20px !important;
  }
  .about-cstm-sec-four-innerrow .col-6{
    width: 100%;
  }
  .about-cstm-sec-four-innerrow h5{
    font-size: 26px !important;
    line-height: 32px;
    text-align: center;
  }
  .about-cstm-sec-four-innerrow p{
    padding-top: 0px !important;
    font-size: 16px !important;
    line-height: 24px;
    text-align: justify;
  }
}
